.react-calendar__tile--active {
    background: #10A37F;
    color: white;
    border-radius: 50%;
    padding:0px;
    &:enabled{
        &:hover{
            background: #10A37F;

        }
    }
}
.react-calendar__tile{
    padding: 10px !important;
    border-radius: 50%;
    display: flex !important;
    justify-content: center;
    align-items: center;
}